.reels-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  /* background-color: #1e1e1e; */
  padding-bottom: 20px;
  /* border: 2px solid #696969; */
}

.reels-container .reel-item {
  display: flex;
  flex-direction: row;
  height: 87.5vh;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  align-items: flex-end;
  padding: 5px 10px;
}

.reels-container .reel-item .reelspost-details {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.reels-container .reel-item .reelspost-details .details-areas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}

.reels-container .reel-item .reelspost-details .details-areas .user-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.reels-container
  .reel-item
  .reelspost-details
  .details-areas
  .user-details.details-image {
  width: 25px;
  height: 25px;
}

.reels-container
  .reel-item
  .reelspost-details
  .details-areas
  .user-details
  .details-image
  .image-dp {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.reels-container
  .reel-item
  .reelspost-details
  .details-areas
  .user-details
  span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
}

.reels-container .reel-item .reelspost-details .details-areas .area-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  height: 3rem;
}

.reels-container .reel-item .reelspost-details .details-areas .area-music {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.reels-container
  .reel-item
  .reelspost-details
  .details-areas
  .area-music
  .music-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
}

.reels-container .reel-item .reelspost-details .icons-area {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 10px;
}

.reels-container .reel-item .reelspost-details .icons-area .reels-icon {
  width: 17px;
  height: 17px;
  /* margin: 0 20px 0 0; */
}

.reels-container
  .reel-item
  .reelspost-details
  .icons-area
  .reels-icon
  .area-icon {
  width: 17px;
  height: 17px;
  cursor: pointer;
  color: white;
}
