.navside-bar {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.navside-bar .navtim {
  display: flex;
  flex-direction: column;
}

.navside-bar .navtim main {
  margin: 116px 10px 0 126px;
}
