.searched {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* max-height: 209px; */
  min-height: 70px;
  gap: 10px;

  position: absolute;
  top: 60px;
  left: 10px;
  width: 250px;
  padding: 20px 10px;

  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 5px;
  background-color: #1e1e1e;
  box-shadow: 0, 2px, 8px rgba(0, 0, 0, 0.2);
  animation: easy-in 0.5s ease-in-out forwards;
}

@keyframes easy-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.searched::-webkit-scrollbar {
  display: none;
}

.searched .contact-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.searched .seeMore {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  cursor: pointer;

  color: rgba(255, 255, 255, 0.75);
}

.searched .contact-bottom::-webkit-scrollbar {
  display: none;
}

.searched .contact-bottom .my-searched {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.searched .contact-bottom .my-searched .contact-details {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.searched .contact-bottom .my-searched .namemers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.searched .contact-bottom .my-searched .namemers .nameername {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  cursor: pointer;

  color: rgba(255, 255, 255, 0.75);
}

.searched .contact-bottom .my-searched .namemers .nameerfriends {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 16px;

  cursor: pointer;

  color: rgba(255, 255, 255, 0.75);
}

.contacts .contact-bottom .chat {
  width: 40px;
  height: 40px;
}

.contacts .contact-bottom .chat .message {
  /*  */
  height: 30px;
  width: 30px;
  cursor: pointer;
}
