.messenger-sidebar {
  position: fixed;
  display: flex;
  flex-direction: row;
  left: 290px;
  height: 100vh;
  padding: 20px 0 20px 20px;
  overflow: hidden;
}

.messenger-sidebar .sidebar-top {
  display: flex;
  flex-direction: column;
  width: 110px;
}

.messenger-sidebar .sidebar-top .top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.messenger-sidebar .sidebar-top .top .logo {
  display: flex;
  align-items: center;

  width: 30px;
  height: 30px;
  /*  */
}

.messenger-sidebar .sidebar-top .top .sidebar-middle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /*  */
}

.messenger-sidebar .sidebar-top .top .sidebar-middle .middle-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  /*  */
}

.messenger-sidebar .sidebar-top .top .sidebar-middle .middle-items .itemIcon {
  width: 25px;
  height: 25px;
}

.messenger-sidebar .sidebar-top .top .sidebar-middle .middle-items span {
  width: 105.3px;
  /* height: 33.04px; */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;

  color: rgba(255, 255, 255, 0.85);
}

.messenger-sidebar .sidebar-top .bottom {
  position: fixed;
  width: 88px;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.messenger-sidebar .sidebar-top .bottom img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media screen and (max-width: 1004px) {
  .messenger-sidebar {
    left: 20px;
  }
}

@media screen and (max-width: 786px) {
  .messenger-sidebar {
    left: 10px;
    right: 10px;
  }
}

@media screen and (max-width: 759px) {
  .messenger-sidebar {
    padding: 10px 5px;
  }
  .messenger-sidebar .sidebar-top {
    display: none;
  }
}
