.userphoto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 90%;
}

.userphoto-container .userphoto {
  width: 100%;
  border-bottom: 1px solid rgba(24, 24, 32, 1);
}

.userphoto-container .userphoto .photo-text {
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 12px;
  /* identical to box height */

  color: #ffffff;
}

.userphoto-container .userphoto .photo-text h4 {
  margin: 0;
}

.userphoto-container .userphoto .photo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 12px;
  padding: 10px 0;
  /* identical to box height */

  color: #ffffff;
}

.userphoto-container .userphoto .photo-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3rem;
  margin: 1rem 0;
  border-radius: 6px;
  font-size: 20px;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.userphoto-container .post-text {
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 12px;
  /* identical to box height */

  color: #ffffff;
}
