.userprofile-container {
  background-color: #1e1e1e;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 67%;
  gap: 10px;
  margin-top: -3rem;
  left: 320px;
}

.userprofile-container .userprofile-coverimage {
  align-items: center;
  width: 100%;
  height: 17rem;
  cursor: pointer;
}

.userprofile-container .userprofile-coverimage .cover-image {
  background-repeat: none;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.userprofile-container .about-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.userprofile-container .about-user .profilepics {
  margin-top: -8rem;
  cursor: pointer;
  width: 180px;
  height: 180px;
  border: 5px solid rgba(0, 0, 255, 0.601);
  border-radius: 50%;
  object-fit: cover;
  background-color: gray;
}

.userprofile-container .about-user .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.userprofile-container .about-user .user-info .user-name {
  margin-top: 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 12px;
  /* identical to box height */

  color: #ffffff;
}

.userprofile-container .about-user .user-info .user-otherdetails {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 12px;
  padding: 3px 0;
  /* identical to box height */

  color: #ffffff;
}

.userprofile-container .message-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  width: 95%;
  padding: 0 5px;
}

.userprofile-container .message-area .message {
  /* flex: 2; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  cursor: pointer;
  padding: 5px 0;
  border-radius: 5px;
  gap: 20px;
  width: 80%;
}

.userprofile-container .message-area .message .messenger {
  /* font-size: 30px; */
  width: 20px;
  height: 20px;
}

.userprofile-container .message-area .saved {
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 5px;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.userprofile-container .message-area .menu- {
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1004px) {
  .userprofile-container {
    left: 100px;
    width: 80%;
  }
}

@media screen and (max-width: 566px) {
  .userprofile-container {
    left: 10px;
    width: 95%;
  }
}
